<h1 *ngIf="false" class="title">
	{{ title }}
	<small>{{ array.length }}, items: {{ sum }}, now triggering scroll:{{ direction}}</small>
	<!-- 
  <small>https://plnkr.co/edit/e42nrO?preview</small>
	<small>https://plnkr.co/edit/n7iqb2Ugv6tQv1DF2SX2?p=preview&preview</small> 
  <small>https://medium.com/better-programming/how-to-add-infinite-scrolling-to-your-angular-app-51c3826da4dc</small>
  https://stackblitz.com/edit/angular-material-data-table-infinite-scroll-vjlvwz?file=src%2Fapp%2Fapp.component.ts
  https://www.algolia.com/doc/guides/building-search-ui/resources/ui-and-ux-patterns/in-depth/infinite-scroll/angular/
  -->
</h1>
<div class=".test" 
         data-infinite-scroll
         debounce
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown($event)"
         (scrolledUp)="onUp()">
	<table class="table">
		<tbody>
			<tr *ngFor="let i of array ; let idx = index">
				<th>{{ idx }}</th>
				<td>{{ i.id}}</td>
				<td>{{ i.userId }}</td>
				<td class="truncate">{{ i.title }}</td>
				<!-- <td>{{ i | json }}</td> -->
			</tr>
		</tbody>
    <!-- <tbody>
			<tr><td colspan="4">Call next</td></tr>
    </tbody> -->
	</table>
</div>